body {
    font-family: sans-serif;
}

.head {
    background-color: aquamarine;
    padding: 10px;
}

a {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

header a {
    color: black;
    background-color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

main img {
    text-align: center;
}

footer {
    background-color: coral;
}

foooter a {
    text-decoration: none;
}